@{
    ViewData["Title"] = "Home Page";
}

                <div class="container px-0">
                    <div class="row gx-5 align-items-center justify-content-center bg-dark">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white text-center mb-2">Coming Soon</h1>
                                <p class="lead fw-normal text-white-50 text-center mb-4">Yakın zamanda gelmesi planlanan filmler.</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-center">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Hakkında</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://www.dreadcentral.com/wp-content/uploads/2019/07/Doctor-Strange-2-Movie-Multiverse-Of-Madness-banner.jpg" alt="..." /></div>
                    </div>
                </div>
                <div class="container px-5 my-5">

                    
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">Top 3 Movies</h2>
                                <p class="lead fw-normal text-muted mb-5">Here is some popular 3 movies.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://www.technopat.net/sosyal/eklenti/fep_b6mvgaanu5m-jpg.1215708/" alt="..." />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Top Rated</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Spider-Man No Way Home</h5></a>
                                    <p class="card-text mb-0">With Spider-Man's identity now revealed, our friendly neighborhood web-slinger is unmasked and no longer able to separate his normal life as Peter Parker from the high stakes of being a superhero. When Peter asks for help from Doctor Strange, the stakes become even more dangerous, forcing him to discover what it truly means to be Spider-Man.</p>
                                </div>
            
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://tr.web.img3.acsta.net/pictures/21/10/26/16/17/2610555.jpg" alt="..." />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Top Rated</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">The Unforgivable</h5></a>
                                    <p class="card-text mb-0">A woman is released from prison after serving a sentence for a violent crime and re-enters a society that refuses to forgive her past.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/714STIfIZPL.jpg" alt="..." />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Top Rated</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">West Side Story</h5></a>
                                    <p class="card-text mb-0">An adaptation of the 1957 musical, West Side Story explores forbidden love and the rivalry between the Jets and the Sharks, two teenage street gangs of different ethnic backgrounds.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Call to action-->
                    <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                        <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                            <div class="mb-4 mb-xl-0">
                                <div class="fs-3 fw-bold text-white">Yeni filmlerin haberi için kayıt ol.</div>
                                <div class="text-white-50">Sign up for our newsletter for the latest updates.</div>
                            </div>
                            <div class="ms-xl-4">
                                <div class="input-group mb-2">
                                    <input class="form-control" type="text" placeholder="Email address..." aria-label="Email address..." aria-describedby="button-newsletter" />
                                    <button class="btn btn-outline-light" id="button-newsletter" type="button">Sign up</button>
                                </div>
                                <div class="small text-white-50">Güvenliğine önem veriyoruz.</div>
                            </div>
                        </div>
                    </aside>
                </div>
